<!-- Overview -->
<div class="card">
  <div class="card-header">
    <h4 id="basic-forms" class="card-title">Vuexy Admin Template Documentation</h4>
    <div class="heading-elements">
      <ul class="list-inline mb-0">
        <li><a data-action="collapse"><i class="feather icon-chevron-down"></i></a></li>
        <li><a data-action="expand"><i class="feather icon-maximize"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show" aria-expanded="true">
    <div class="card-body">
      <p class="card-text">Thank you for purchasing Vuexy admin template. If you have any queries that are beyond
        the scope of this help file, please feel free to create a support ticket on our support portal : <a
          href="https://pixinvent.ticksy.com/">https://pixinvent.ticksy.com/</a></p>
      <p><strong>Created:</strong> 24/05/2019 - V1.0</p>
      <p><strong>Updated:</strong> 13/11/2019 - V4.1 <strong>Vuesax is now Vuexy :)</strong></p>
      <p><strong>By: PIXINVENT Team</strong></p>
      <p><strong>Support Portal: <a
          href="https://pixinvent.ticksy.com/">https://pixinvent.ticksy.com/</a></strong></p>

      <p class="card-text">Vuexy admin is super flexible, powerful, clean & modern responsive bootstrap admin
        template with unlimited possibilities. It includes 4 pre-built templates with organized folder structure,
        clean & commented code, 100+ pages, 70+ components, 50+ charts, 50+ advance cards (widgets) and many more.
      </p>
      <p> Vuexy admin provides searchable navigation, unique menu layouts, advance cards and incredible support.
        Vuexy admin can be used for any type of web applications: Project Management, eCommerce backends, CRM,
        Analytics, Fitness or any custom admin panels.</p>
      <p> It comes with 2 niche dashboards. Vuexy admin template is powered with HTML 5, SASS & Twitter Bootstrap
        4 which looks great on Desktops, Tablets, and Mobile Devices. Vuexy admin template comes with starter kit
        which will help developers to get started quickly.</p>
    </div>
  </div>
</div>
